@import "./../../variables.scss";

.toast-container{
    position: fixed;
    width: 100%;
    z-index: 100;
    bottom:0;
    padding: 10px;
    text-align: center;
    left: 0;
    text-transform: uppercase;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: $primary-white;

}

.positive{
    background-color: $toast-positive;
}

.negative{
    background-color: $toast-negative;
}

