.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.4; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  opacity: 0.4; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
  opacity: 0.4; /* Firefox */
}

textarea:focus, input:focus, select:focus{
  outline: none;
}

.card-reveal {
  animation: reveal-anim 0.3s ease-out 1 both;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes show-input{
  0%{
    width: 0px;  opacity:0;
  }

  100%{ width: 200px;  opacity:1;}
}

@keyframes hide-input{
  0%{
    width: 200px;
    opacity:1;
  }

  100%{ width: 0px; opacity:0;}
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


@keyframes reveal-anim{
    from{
        opacity: 0;
        transform: translate3d(0, -40px, 0) scale(0.8);
    }
    to{
        opacity: 1;
        transform:translate3d(0, 0, 0) scale(1);
    }
}