
$primary-blue: #09357B;
$secondary-blue: #2153a3;
$light-blue: #7a98c8;


$sport-border: #F50057;
$culture-border: #FFCA28;
$lifestyle-border: #2196F3;
$primary-white: #fff;
$toast-positive: #388E3C;
$toast-negative: #D32F2F;

$card-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);

$button-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
